APP_NAME=Neurosatva
APP_URL=http://localhost/neurosatva
APP_ENV=local
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=neurosatva
DB_USER=root
DB_PASS=

ADMIN_VIDEO_EMAIL=videos@neurosatva.local
RESEND_API_KEY=
RESEND_FROM_EMAIL=Neurosatva <onboarding@resend.dev>
STORAGE_DISK=server
